.container{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 50px;
    flex-direction: column;
    width: 240px;
    background-color:rgb(255, 255, 255);
    border-radius: 11px 11px 0px 0px;
    border: 1px solid #2C65C8;
}

.heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #2C65C8;
  border-radius: 8px 8px 0px 0px;
  padding: 0px 20px;
  cursor: pointer;
}

.scroller{
    height: 300px;
    overflow: auto;
 }
 
 .scroller::-webkit-scrollbar {
     width: 5px;
  }
   
   .scroller::-webkit-scrollbar-track {
     background-color: #f1f1f1; 
   }
   
   .scroller::-webkit-scrollbar-thumb {
     background-color: #dad5d5; 
     border-radius: 4px; 
   }
   
   .scroller::-webkit-scrollbar-thumb:hover {
     background-color: #999696;
   }

.profiles{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 4px 13px;
    color: #5E5E5E;
}
 
.profilepicture{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.onlineStatus{
   height: 7px;
   width: 7px;
   border-radius: 100%;
   background-color: green;
}

.innerProfile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.headerText{
  color: white;
}