.container{
    display: flex;
    width: 100%;
    padding: 40px;
    background-color: #FFFFFF;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 50px;
}

.headerNav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.image{
    height: 30px ;
    width: 30px;
    border-radius: 100%;
    margin-right: 20px;
}

.profileInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.currentLocation{
    font-size: 19px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(102, 99, 99);
}

.activeUserName{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(53, 50, 50);
}